@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  @media screen and (max-width: 768px) {
    overflow-x: hidden;
  }
}
body {
  background: linear-gradient(to right, rgb(40 44 54), #000000);
  overflow-x: hidden;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(30 34 41);
  justify-content: center;
  gap: 1rem;
  position: fixed;
  z-index: 500;
  .nav {
    max-width: 90%;
    padding: 0 16px 0 16px;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 4rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
    .logo {
      width: 195px;
      max-width: 195px;
      padding-right: 3rem;
      height: 55px;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        padding-right: 0;
      }
    }
    a {
      font-size: 17px;
      font-weight: 500;
      line-height: 23.8px;
      text-decoration: none;
      color: white;
      &:hover {
        color: #99e39e;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .but2 {
      background-color: #99e39e !important;
      border-radius: 8px !important;
      border-color: #99e39e !important;
      color: #000000;
      @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        width: 222px;
        height: 39px;
        padding: 10px;
      }
      &:hover {
        background-color: rgb(30 34 41) !important;
        color: #99e39e;
      }

      .sing-up {
        font-size: 16px;
        letter-spacing: 2px;
        @media screen and (max-width: 767px) {
          font-size: 11px;
        }
      }
    }
    i {
      color: white;
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
        justify-content: center;
        font-size: 16px;
        width: 58px;
      }
      @media screen and (max-width: 767px) {
        display: block;
        justify-content: center;
        font-size: 16px;
        width: 58px;
      }
    }
  }
}
.but1 {
  background-color: rgb(30 34 41) !important;
  border-radius: 8px !important;
  border-color: #99e39e !important;
  color: #99e39e;
  @media screen and (max-width: 767px) {
    width: 222px;
  }
  &:hover {
    background-color: #99e39e !important;
    color: #000000;
  }
  .sing-in {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 2px;
    @media screen and (max-width: 767px) {
      font-size: 11px;
    }
  }
}
.mo1 {
  .mh1 {
    background-color: rgb(30 34 41) !important ;
    flex-direction: column-reverse !important;
    border: 0 !important;
  }
  .mb1 {
    /* background-color: rgb(40 44 54) !important ; */
    background-color: rgb(30 34 41) !important ;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 2rem;
    height: auto;
    flex-wrap: wrap;
    .google {
      height: 52px;
      width: 184px;
      padding: 14px 14px 14px 14px;
      border-radius: 8px;
      border: 8px;
      background-color: #000000;
      color: white;
      text-align: center;
      text-decoration: none;
      margin-bottom: 2rem;
      &:hover {
        background-color: rgb(40 44 54);
      }
      .g {
        padding-left: 1rem;
      }
    }
    .git {
      height: 52px;
      width: 184px;
      padding: 14px 14px 14px 14px;
      border-radius: 8px;
      border: 8px;
      background-color: #000000;
      color: white;
      text-align: center;
      text-decoration: none;
      margin-bottom: 2rem;
      &:hover {
        background-color: rgb(40 44 54);
      }
      .g {
        background-color: white;
        border-radius: 50%;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: white;
    }
    .Or {
      color: white;
      position: relative;
      top: -43px;
      left: -6px;
      padding: 0 2rem;
      background-color: rgb(30 34 41);
    }
    .fm1 {
      width: 100%;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      .em {
        width: 100%;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 1px solid rgb(255 255 255);
        background-color: rgb(30 34 41);
        color: white;
        &:hover {
          border-color: #99e39e;
        }
      }
      .ps {
        width: 100%;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 1px solid rgb(255 255 255);
        color: white;
        background-color: rgb(30 34 41);
        &:hover {
          border-color: #99e39e;
        }
      }
    }
  }
  .mof {
    background-color: rgb(30 34 41);
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2rem;
    .bufo {
      width: 100%;
      background-color: #99e39e;
      padding: 12px 0 12px 0;
      border: 1px solid #99e39e;
      border-radius: 8px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #000000;
      &:hover {
        background-color: rgb(30 34 41);
        color: #99e39e;
      }
    }
    .forgot {
      text-decoration: none;
      color: rgb(255 255 255);
      font-size: 16px;
      line-height: 24px;
      &:hover {
        color: #99e39e;
      }
    }
    .not {
      color: rgb(255 255 255);
      font-size: 16px;
      line-height: 24px;

      .sup {
        color: #99e39e;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.mo2 {
  .mh2 {
    background-color: rgb(30 34 41) !important ;
    flex-direction: column-reverse !important;
    border: 0 !important;
  }
  .mb2 {
    /* background-color: rgb(40 44 54) !important ; */
    background-color: rgb(30 34 41) !important ;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 2rem;
    height: auto;
    flex-wrap: wrap;
    .google {
      height: 52px;
      width: 184px;
      padding: 14px 14px 14px 14px;
      border-radius: 8px;
      border: 8px;
      background-color: #000000;
      color: white;
      text-align: center;
      text-decoration: none;
      margin-bottom: 2rem;
      &:hover {
        background-color: rgb(40 44 54);
      }
      .g {
        padding-left: 1rem;
      }
    }
    .git {
      height: 52px;
      width: 184px;
      padding: 14px 14px 14px 14px;
      border-radius: 8px;
      border: 8px;
      background-color: #000000;
      color: white;
      text-align: center;
      text-decoration: none;
      margin-bottom: 2rem;
      &:hover {
        background-color: rgb(40 44 54);
      }
      .g {
        background-color: white;
        border-radius: 50%;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: white;
    }
    .Or {
      color: white;
      position: relative;
      top: -43px;
      left: -6px;
      padding: 0 2rem;
      background-color: rgb(30 34 41);
    }
    .fm2 {
      width: 100%;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      .em {
        width: 100%;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 1px solid rgb(255 255 255);
        background-color: rgb(30 34 41);
        color: white;
        &:hover {
          border-color: #99e39e;
        }
      }
      .ps {
        width: 100%;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 1px solid rgb(255 255 255);
        color: white;
        background-color: rgb(30 34 41);
        &:hover {
          border-color: #99e39e;
        }
      }
      .name {
        width: 100%;
        padding: 12px 20px 12px 20px;
        border-radius: 6px;
        border: 1px solid rgb(255 255 255);
        background-color: rgb(30 34 41);
        color: white;
        &:hover {
          border-color: #99e39e;
        }
      }
    }
  }
  .mof2 {
    background-color: rgb(30 34 41);
    border: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .si {
      width: 100%;
      background-color: #99e39e;
      padding: 12px 0 12px 0;
      border: 1px solid #99e39e;
      border-radius: 8px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #000000;
      &:hover {
        background-color: rgb(30 34 41);
        color: #99e39e;
      }
    }
    p {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      color: white;
      text-align: center;
    }
    a {
      color: #99e39e;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
    }
    .spa1 {
      color: white;
      font-size: 16px;
      text-align: center;
    }
    .spa2 {
      width: 200px;
      color: white;
      text-align: center;
    }
  }
}
.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .right {
    width: 601.656px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    .mine {
      width: 40px;
      height: 40px;
    }
    .title {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      color: white;
      .go {
        color: #99e39e;
        font-size: 28px;
        line-height: 36px;
      }
    }
    .cr {
      font-size: 76px;
      font-weight: 500;
      line-height: 91.2px;
      color: #99e39e;
      @media screen and (max-width: 767px) {
        font-size: 55px;

        padding-right: 1rem;
      }
    }
    h1 {
      font-size: 76px;
      font-weight: 500;
      line-height: 91.2px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 55px;
      }
    }
    .ch {
      font-size: 76px;
      font-weight: 500;
      line-height: 91.2px;
      color: #99e39e;
    }
    .but3 {
      background-color: #99e39e;
      border-radius: 8px;
      border-color: #99e39e;
      padding: 8px 28px 8px 28px;
      color: #000000;
      &:hover {
        background-color: rgb(30 34 41);
        color: #99e39e;
      }
    }

    .app {
      width: 213.332px;
      max-width: 100%;
      height: 68.3097px;
      transition: 1s;
      @media screen and (max-width: 767px) {
        width: 131.332px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    .store {
      width: 222.332px;
      max-width: 100%;
      height: 68.3097px;
      transition: 1s;
      @media screen and (max-width: 767px) {
        width: 131.332px;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .left {
    width: 857.344px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
    img {
      width: 100%;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
.offcanvas {
  width: 70% !important;
  .offcanvas-header {
    background-color: #000000;
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    gap: 2rem;
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 23.8px;
      text-decoration: none;
      color: #e7dbdb;
      &:hover {
        color: #99e39e;
      }
    }
    .but2 {
      background-color: #99e39e !important;
      border-radius: 8px !important;
      border-color: #99e39e !important;
      color: #000000;

      &:hover {
        background-color: rgb(30 34 41) !important;
        color: #99e39e;
      }
    }
  }
}

.swiper-wrapper {
  overflow: visible !important;
  .slider1 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    gap: 1rem;
    .box1 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      img {
        width: 45.9943px;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box2 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      display: block;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box3 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      display: block;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box4 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      display: block;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
  }
  .slider2 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 1rem;
    .box1 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box2 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box3 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }

      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box4 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
  }
  .slider3 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 1rem;
    .box1 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box2 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box3 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box4 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
  }
  .slider4 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 1rem;
    .box1 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box2 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box3 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box4 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
  }
  .slider5 {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 1rem;
    .box1 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box2 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box3 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
    .box4 {
      background-color: rgb(40 44 54);
      width: 267.997px;
      height: 146.676px;
      padding: 24px 20px 24px 20px;
      border-radius: 8px;
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 45.9943px;
        max-width: 100%;
        height: 45.9943px;
        margin-bottom: 1rem;
      }
      .bi {
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
      }
      .price {
        font-size: 12px;
        font-weight: 300;
        line-height: 27px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 2rem;
      }
      .cost {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
      }
      .red {
        color: red;
        font-size: 11px;
        padding-left: 2rem;
      }
    }
  }
}
.section2 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .left {
    width: 681.335px;
    max-width: 100%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    p {
      font-size: 28px;
      line-height: 36px;
      color: white;
      text-align: center;
      span {
        font-size: 28px;
        line-height: 36px;
        color: #99e39e;
      }
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 500;
      color: white;
      padding-bottom: 2rem;
      @media screen and (max-width: 1024px) {
        font-size: 30px;
        text-align: center;
      }
      @media screen and (max-width: 767px) {
        font-size: 30px;
        text-align: center;
      }
    }
  }
  .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @media screen and (max-width: 1024px) {
      justify-content: center;
      gap: 4rem;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
      gap: 4rem;
    }
    .box1 {
      width: 326.662px;
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-left: 15rem;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-left: 1rem;
      }
      .img1 {
        width: 100%;
        img {
          width: 77.5284px;
          padding: 16px;
          background-color: rgb(30 34 41);
          border-radius: 50%;
        }
        span {
          font-size: 24px;
          line-height: 32px;
          color: white;
        }
      }
    }
    .box2 {
      width: 326.662px;
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-left: 15rem;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-left: 1rem;
      }
      .img2 {
        width: 100%;
        img {
          width: 77.5284px;
          padding: 16px;
          background-color: rgb(30 34 41);
          border-radius: 50%;
        }
        span {
          font-size: 24px;
          line-height: 32px;
          color: white;
        }
      }
    }
    .box3 {
      width: 326.662px;
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-left: 15rem;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-left: 1rem;
      }
      .img3 {
        width: 100%;
        img {
          width: 77.5284px;
          padding: 16px;
          background-color: rgb(30 34 41);
          border-radius: 50%;
        }
        span {
          font-size: 24px;
          line-height: 32px;
          color: white;
        }
      }
    }
  }
  .right {
    @media screen and (max-width: 767px) {
      width: 100%;
      img {
        @media screen and (max-width: 767px) {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}
article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
  p {
    font-size: 28px;
    line-height: 36px;
    color: rgb(216 219 219);
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
    span {
      font-size: 28px;
      line-height: 36px;
      color: #99e39e;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: white;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}
.section3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 45rem;
  padding-bottom: 10rem;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    padding-bottom: 4rem;
  }
  .img1 {
    width: 857.614px;
    @media screen and (max-width: 1024px) {
      width: 700px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .one {
    width: 287.997px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    left: -880px;
    top: -194px;
    @media screen and (max-width: 1024px) {
      left: -708px;
      top: -200px;
    }
    @media screen and (max-width: 767px) {
      position: static;
      left: 0;
      right: 0;
      width: 100%;
      align-items: center;
    }
    h4 {
      font-size: 28px;
      line-height: 36px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        color: none solid rgba(216, 219, 219, 0.6);
        @media screen and (max-width: 767px) {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
    .img2 {
      width: 81.804px;
      height: 79.9858px;
      background-color: rgb(30 34 41);
      border-radius: 50%;
      padding: 20px;
      @media screen and (max-width: 767px) {
        width: 67.804px;
        height: 79.9858px;
      }
    }
  }
  .tow {
    width: 287.997px;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
    left: -1033px;
    top: 292px;
    @media screen and (max-width: 1024px) {
      left: -881px;
      top: 262px;
    }
    @media screen and (max-width: 767px) {
      position: static;
      left: 0;
      right: 0;
      width: 100%;
      align-items: center;
    }
    h4 {
      font-size: 28px;
      line-height: 36px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        color: none solid rgba(216, 219, 219, 0.6);
        @media screen and (max-width: 767px) {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
    .img3 {
      width: 81.804px;
      height: 79.9858px;
      padding: 20px;
      background-color: rgb(30 34 41);
      border-radius: 50%;
      @media screen and (max-width: 767px) {
        width: 67.804px;
        height: 79.9858px;
      }
    }
  }
  .three {
    width: 287.997px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    left: -545px;
    top: -171px;
    @media screen and (max-width: 767px) {
      position: static;
      left: 0;
      right: 0;
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
    }
    h4 {
      font-size: 28px;
      line-height: 36px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        color: none solid rgba(216, 219, 219, 0.6);
        @media screen and (max-width: 767px) {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
    .img4 {
      width: 81.804px;
      height: 79.9858px;
      padding: 20px;
      background-color: rgb(30 34 41);
      border-radius: 50%;
      @media screen and (max-width: 767px) {
        width: 67.804px;
        height: 79.9858px;
      }
    }
  }
  .four {
    width: 287.997px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    left: -767px;
    top: 221px;
    @media screen and (max-width: 767px) {
      position: static;
      left: 0;
      right: 0;
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
    }
    h4 {
      font-size: 28px;
      line-height: 36px;
      color: white;
      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
        color: none solid rgba(216, 219, 219, 0.6);
        @media screen and (max-width: 767px) {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
    .img5 {
      width: 81.804px;
      height: 79.9858px;
      padding: 20px;
      background-color: rgb(30 34 41);
      border-radius: 50%;
      @media screen and (max-width: 767px) {
        width: 67.804px;
        height: 79.9858px;
      }
    }
  }
}
.section4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  padding-bottom: 10rem;
  overflow-y: hidden;
  .main {
    width: 1168px;
    height: 236px;
    padding: 56px 64px 56px 64px;
    border-radius: 24px;
    background: linear-gradient(to right, rgb(40 44 54) 10%, rgb(30 34 41) 50%);
    @media screen and (max-width: 1024px) {
      width: 360px;
      height: auto;
    }
    @media screen and (max-width: 767px) {
      width: 360px;
      height: auto;
      overflow-y: hidden;
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      color: white;
      overflow-y: hidden;
      span {
        font-size: 40px;
        line-height: 48px;
        color: #99e39e;
        overflow-y: hidden;
      }
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: rgb(216 219 219);
      overflow-y: hidden;
      @media screen and (max-width: 1024px) {
        padding-bottom: 4rem;
      }
    }
    a {
      padding-left: 55rem;
      @media screen and (max-width: 1024px) {
        padding-left: 0rem;
      }
      @media screen and (max-width: 767px) {
        padding-left: 0;
      }
    }
    button {
      background-color: #99e39e !important;
      border-color: #99e39e !important;
      position: relative !important;
      top: -58px !important;
      padding: 12px 20px 12px 20px !important;
      font-size: 21px;
      color: #000000;
      font-weight: 500;
      &:hover {
        background-color: rgb(30 34 41) !important;
        color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        position: static !important;
        top: 0 !important;
      }
    }
  }
}
.section5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  gap: 3rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .left {
    width: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    img {
      width: 664px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  .right {
    width: 536px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .one {
      font-size: 28px;
      line-height: 36px;
      color: rgb(216 219 219);
      text-align: center;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
      span {
        font-size: 28px;
        line-height: 36px;
        color: #99e39e;
        text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 18px;
        }
      }
    }
    h2 {
      font-size: 40px;
      font-weight: 500;
      line-height: 48px;
      color: white;
      text-align: center;
      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
    .tow {
      font-size: 18px;
      line-height: 24px;
      color: rgb(216 219 219);
      text-align: center;
      font-weight: 300;
      @media screen and (max-width: 767px) {
        padding-bottom: 2rem;
      }
    }
    .boxs {
      width: 100%;
      @media screen and (max-width: 767px) {
        padding-left: 1rem;
      }
      .box1 {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        img {
          width: 67px;
          height: 69.1094px;
          background-color: rgba(153, 227, 158, 0.212);
          border-radius: 50%;
          padding: 10px;
        }
        span {
          font-size: 28px;
          line-height: 36px;
          color: white;
        }
      }
      .box2 {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        img {
          width: 67px;
          height: 69.1094px;
          background-color: rgba(153, 227, 158, 0.212);
          border-radius: 50%;
          padding: 10px;
        }
        span {
          font-size: 28px;
          line-height: 36px;
          color: white;
        }
      }
      .box3 {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        img {
          width: 67px;
          height: 69.1094px;
          background-color: rgba(153, 227, 158, 0.212);
          border-radius: 50%;
          padding: 10px;
        }
        span {
          font-size: 28px;
          line-height: 36px;
          color: white;
        }
      }
    }
  }
}
.section6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  overflow-x: hidden;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .left {
    overflow-x: hidden;
    width: 584px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .top {
      width: 584px;
      display: flex;
      flex-direction: column;
      align-content: center;
      .upgrade {
        font-size: 20px;
        line-height: 36px;
        color: #99e39e;
        font-size: 18px;
      }
      h2 {
        font-size: 40px;
        line-height: 48px;
        color: white;
        @media screen and (max-width: 767px) {
          font-size: 30px;
        }
      }
      .more {
        font-size: 18px;
        line-height: 24px;
        color: rgb(216 219 219);
        @media screen and (max-width: 767px) {
          padding-bottom: 1rem;
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .one {
        width: 184.391px;
        display: flex;
        gap: 1rem;
        i {
          color: white;
        }
        span {
          font-size: 14px;
          line-height: 24px;
          color: rgb(216 219 219);
        }
      }
      .tow {
        width: 184.391px;
        display: flex;
        gap: 1rem;
        i {
          color: white;
        }
        span {
          font-size: 14px;
          line-height: 24px;
          color: rgb(216 219 219);
        }
      }
      .three {
        width: 184.391px;
        display: flex;
        gap: 1rem;
        i {
          color: white;
        }
        span {
          font-size: 14px;
          line-height: 24px;
          color: rgb(216 219 219);
        }
      }
      .four {
        width: 184.391px;
        display: flex;
        gap: 1rem;
        i {
          color: white;
        }
        span {
          font-size: 14px;
          line-height: 24px;
          color: rgb(216 219 219);
        }
      }
    }
  }
  .right {
    width: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    img {
      width: 584px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.section7 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 28px;
      line-height: 36px;
      color: #d8dbdb;
      .side {
        font-size: 28px;
        line-height: 36px;
        color: #99e39e;
      }
    }
    .bar {
      width: 30px;
      height: 2px;
      background-color: #99e39e;
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      color: white;
      padding-top: 1rem;
      padding-bottom: 5rem;
      text-align: center;
      .go {
        font-size: 40px;
        line-height: 48px;
        color: #99e39e;
      }
    }
  }
  .bottom {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
    background: linear-gradient(to right, rgb(40 44 54), #111111ee);
    border-radius: 24px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
    .part1 {
      width: 308.656px;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 76px;
        height: 76px;
        padding: 20px;
        background-color: rgba(153, 227, 158, 0.212);
        border-radius: 50%;
      }
      h4 {
        font-size: 28px;
        line-height: 36px;
        color: white;
        text-align: center;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: #d8dbdb;
        text-align: center;
      }
    }
    .part2 {
      width: 308.656px;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 76px;
        height: 76px;
        padding: 20px;
        background-color: rgba(153, 227, 158, 0.212);
        border-radius: 50%;
      }
      h4 {
        font-size: 28px;
        line-height: 36px;
        color: white;
        text-align: center;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: #d8dbdb;
        text-align: center;
      }
    }
    .part3 {
      width: 308.656px;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 76px;
        height: 76px;
        padding: 20px;
        background-color: rgba(153, 227, 158, 0.212);
        border-radius: 50%;
      }
      h4 {
        font-size: 28px;
        line-height: 36px;
        color: white;
        text-align: center;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        color: #d8dbdb;
        text-align: center;
      }
    }
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  .part1 {
    width: 336.007px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (max-width: 1024px) {
      padding-left: 1rem;
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      width: 100%;
    }

    .midea {
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      i {
        font-size: 18px;
        color: white;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: 500;
      color: white;
      line-height: 32px;
    }
  }
  .part2 {
    width: 336.007px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: start;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: start;
    }
    ul {
      font-size: 17px;
      list-style: none;
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: white;
      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #99e39e;
        }
      }
    }
  }
  .part3 {
    width: 336.007px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: start;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: start;
    }
    ul {
      font-size: 17px;
      list-style: none;
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: white;
      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #99e39e;
        }
      }
    }
  }
  .part4 {
    width: 336.007px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding-left: 1rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      padding-left: 1rem;
    }
    h3 {
      font-weight: 24px;
      font-weight: 500;
      line-height: 32px;
      color: white;
    }
    p {
      color: #d8dbdb;
      font-size: 14px;
      line-height: 24px;
    }
    input {
      width: 268.802px;
      height: 58.1771px;
      padding: 16px 24px 16px 24px;
      font-size: 16px;
      color: #d8dbdb;
      border-radius: 8px;
      border: solid #d8dbdb 1px;
      background-color: #000000;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 1024px) {
        width: 331.802px;
      }
      @media screen and (max-width: 767px) {
        width: 337.802px;
      }
    }
    i {
      color: #99e39e;
      font-size: 16px;
      position: relative;
      left: -39px;
    }
  }
}
.mh3 {
  background-color: rgb(30 34 41);
  display: flex;
  flex-direction: column-reverse;
  border: 0;
}
.mb3 {
  background-color: rgb(30 34 41);
  height: auto;
  .fm3 {
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .bitcoine {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
    .doller {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
    .piece {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      margin-bottom: 1rem;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
  }
  .total {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    color: white;
    padding-left: 3rem;
    @media screen and (max-width: 767px) {
      padding-right: 7rem;
    }
  }
  .cost {
    font-size: 16px;
    line-height: 24px;
    text-align: end;
    color: white;
    padding-left: 15rem;
    @media screen and (max-width: 767px) {
      padding-left: 0;
    }
  }
}
.mf3 {
  width: 100%;
  background-color: rgb(30 34 41);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  .by {
    width: 352px;
    background-color: #99e39e;
    border-radius: 8px;
    border: solid #99e39e 1px;
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    &:hover {
      background-color: rgb(30 34 41);
      color: #99e39e;
    }
  }
}
.but4 {
  background-color: rgb(30 34 41);
  border-radius: 8px;
  border-color: #99e39e;
  padding: 8px 28px 8px 28px;
  color: white;
  &:hover {
    background-color: #99e39e;
    color: #000000;
  }
}
.mh4 {
  background-color: rgb(30 34 41);
  display: flex;
  flex-direction: column-reverse;
  border: 0;
}
.mb4 {
  background-color: rgb(30 34 41);
  height: auto;
  .fm3 {
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .bitcoine {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
    .doller {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
    .piece {
      width: 352px;
      padding: 8px 12px 8px 12px;
      border-radius: 8px;
      border: solid 1px;
      background-color: rgb(30 34 41);
      color: white;
      margin-bottom: 1rem;
      &:hover {
        border-color: #99e39e;
      }
      @media screen and (max-width: 767px) {
        width: 295px;
      }
    }
  }
  .total {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    color: white;
    padding-left: 3rem;
    @media screen and (max-width: 767px) {
      padding-right: 7rem;
    }
  }
  .cost {
    font-size: 16px;
    line-height: 24px;
    text-align: end;
    color: white;
    padding-left: 15rem;
    @media screen and (max-width: 767px) {
      padding-left: 0;
    }
  }
}
.mf4 {
  width: 100%;
  background-color: rgb(30 34 41);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  .sel {
    width: 352px;
    background-color: #99e39e;
    border-radius: 8px;
    border: solid #99e39e 1px;
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    &:hover {
      background-color: rgb(30 34 41);
      color: #99e39e;
    }
  }
}
.scroll {
  position: fixed;
  z-index: 9999;
  right: 16px;
  bottom: 10px;
  @media screen and (max-width: 767px) {
    right: 11px;
  }
  .arrow {
    color: rgb(16 44 70);
    font-size: 35px;
    &:hover {
      color: rgb(17, 48, 77);
    }
  }
}
